* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: white;
    background:url('h.jpg');
}
h1 {
    color: rgb(0, 36, 74);
    text-align:center;
    display:block;
    font-size: small;
    font-weight: normal;
}

.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front,
.back {
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid rgb(59, 183, 255);
}

.back {
    z-index: 0;
}

.front-content,
.back-content,
.front-content2,
.back-content2,
.front-content3,
.back-content3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 183, 255);
}

.front-content{
    background: url('POAWAG1.jpg');
    background-size: 350px 500px;
}

.back-content3 {
    background: url('POAWAG2.jpg');
    background-size: 350px 500px;
}

.back-content,
.back-content2,
.back-content3 {
    transform: rotateY(180deg)
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: rgb(0, 36, 74);
}

i {
    font-size: 50px;
    color:rgb(59, 183, 255);
}

#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}
